body {
    font-family: "Poppins", sans-serif;
    min-height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
    background-color: white;
}

[x-cloak] {
    display: none !important;
}

@media (max-width: 640px) {
    .success-content {
        flex-direction: column;
        align-items: center;
    }
}
